@font-face {
    font-family: "Lato";
    src: url('fonts/Lato/Lato-Regular.ttf') format('ttf');
}

@font-face {
    font-family: "Lato-Thin";
    src: url('fonts/Lato/Lato-Thin.ttf') format('ttf');
}

@font-face {
    font-family: "Lato-Heavy";
    src: url('fonts/Lato/Lato-Heavy.ttf') format('ttf');
}

@font-face {
    font-family: "Lato-Medium";
    src: url('fonts/Lato/Lato-Medium.ttf') format('ttf');
}

html,
body {
    min-height: 100% !important;
    margin: 0;
    height: 100%;
}
.padding-content {
    padding: 0 60px !important;
}
.container {
    padding: 40px 130px !important;
    height: unset;
    width: 100% !important;
    background: url('./image/cibos_bg.jpg') no-repeat;
    background-size: 100% 100%;
}

.btn_appstore {
    background: url('./image/appStore_button.png') no-repeat;
}

.btn_googleplay {
    background: url('./image/googlePlay_button.png') no-repeat;
}

.img_logo {
    background: url('./image/logo.png.png') no-repeat;
}

.header-nav {
    border-bottom: 1px solid rgba(217,217,217,0.77) !important;
}

.title-header {
    font-size: 80px;
    color: #fff;
    font-weight: 400;
    line-height: 70pt;
}

.userinfo {
    display: table;
    margin-top: 20px;
}

.userinfo_content {
    display: table-row;
}

.logo_content,
.info_content {
    display: table-cell;
}

.logo_content {
    padding: 10px 30px 10px 0;
    vertical-align: middle;
}

.user_name {
    font-size: 35px;
    color: #fff;
    margin-bottom: 8px;
}

.social_btn img {
    margin-right: 22px;
}

.price {
    font-family: Lato-Heavy;
    font-size: 90px;
    color: rgba(195, 255, 0, 1);
    font-weight: bold;
}

.point_info {
    font-family: Lato-Heavy;
    font-size: 40px;
    color: rgba(246, 103, 0, 1);
    font-weight: bold;
}
.point_info img {
    position: relative;
    top: -5px;
}
.right-content {
    margin-top: 40px;

}
.body-content_detail {
    padding-bottom: 30px;
    border-bottom: 1px solid rgba(217,217,217,0.77) !important;
}
.footer-content {
    padding: 0 40px;
}
.text {
    color: #fff;
    font-size: 30px;
    white-space: pre-wrap;
    font-family: Lato-Medium;
}