.signup-page .header-page {
    width: 100%;
    height: 15em;
    background: url("./image/header-signup.png") no-repeat;
    position: relative;
}

.signup-page {
    background-color: #22272d;
}

.signup-page .header-page:before {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
}

.signup-page .header-logo {
    position: absolute;
    top: 0;
    height: 100%;
    margin: 0.5em 0 0 15vw;
}

.signup-page .wizard-header-button {
    width: 80vw;
    height: 70px;
    position: absolute;
    top: 0;
    transform: translateY(-50%);
    padding: 0 18vw;
}

.signup-page .wizard-header-button .step-btn {
    width: 4.5em;
    height: 4.5em;
    background: #22272d;
    border-radius: 50%;
    border: 5px solid #56606c;
    cursor: pointer;
    text-align: center;
    line-height: 55px;
}

.signup-page .wizard-header-button .step-btn.active {
    background: linear-gradient(135deg, #ff8f2d, #fa5302);
    border: 5px solid #fff;
}

.signup-page .wizard-container {
    width: 80vw;
    height: 7em;
    margin: -7em auto 0 auto;
    position: relative;
    background: #56606c;
    padding: 10px 0;
}

.signup-page .wizard-container .wizard-title {
    font-family: GothamRounded;
    font-size: 2em;
    font-weight: 500;
    letter-spacing: 0px;
    color: #ffffff;
    text-align: center;
}

.signup-page .wizard-content {
    display: block;
    width: 80vw;
    height: 70vh;
    background: #444d58;
    margin: 0 auto;
    padding: 40px 60px 0 100px;
}

.signup-page .wizard-content input {
    background: transparent;
    border: none;
    outline: none;
    color: #fff;
    font-size: 1.3em;
    padding: 12px 10px;
    width: 100%;
}

.signup-page .wizard-content .column {
    width: 31em;
}

.signup-page .wizard-content .column .prop-input {
    border-bottom: 0.05em solid #d1d6db;
    padding: 5px 0;
}

.signup-page .wizard-content .icon-area {
    padding-right: 10px;
    max-width: 2em;
}
.btn-next.btn {
    border-radius: 4.5px;
    background-image: linear-gradient(99deg, #ff8f2d, #fa5302) !important;
    font-family: Lato;
    font-size: 30px;
    font-weight: bold;
    letter-spacing: 0.6px;
    color: #ffffff;
    width: 6.5em;
    cursor: pointer;
}
.signup-page .splitter {
    width: 0.005em;
    background: #d1d6db;
    position: relative;
    top: 1em;
}
.signup-page .space-split {
    width: 2em;
}